body {
    margin: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightblue;
    padding: 0 1rem;
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: lightcoral;
    padding: 1rem;
  }
  
  footer {
    display: flex;
    background: lightseagreen;
    padding: 0 1rem;
  }
  
  .user-location {
    background: lightgoldenrodyellow;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  
  
